# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Virtual Environment
# ==========================
venv/
.env

# ==========================
# Generated Output Images
# ==========================
processed_output/*
!processed_output/.gitkeep

# ==========================
# System Files
# ==========================
.DS_Store
Thumbs.db